name: "Flake Check"

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  flake-check:
    runs-on: ubuntu-latest
    name: Validate Flake

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Run flake check
        run: nix flake check --all-systems --print-build-logs
